# 1. Creating, Reading and Writing

In [1]:
import pandas as pd

## Creating

### DataFrame

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']}, 
            index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series

*Series have no column name.*

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 40, 50], 
         index = ['2015 Sales', '2016 Sales', '2017 Sales'], 
         name = 'Product A')

2015 Sales    30
2016 Sales    40
2017 Sales    50
Name: Product A, dtype: int64

# 2. Indexing, Selecting and Assigning

In [8]:
pd.set_option('max_rows', 5)
reviews = pd.read_csv('./winemag-data_first150k.csv', 
                     index_col=0)

In [9]:
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

## Native accessing

In [10]:
reviews.country

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [11]:
reviews['country']

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [12]:
reviews['country'][0]

'US'

## Indexing in pandas

### Index-based selection

In [15]:
# one row
reviews.iloc[0]

country                                                       US
description    This tremendous 100% varietal wine hails from ...
                                     ...
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, Length: 10, dtype: object

In [17]:
# one column
reviews.iloc[:, 0]

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [30]:
# 0:3 EXCLUSIVELY last one
reviews.iloc[0:3, ]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

### Label-based selection

In [21]:
reviews.loc[0, 'country']

'US'

In [31]:
# 0:3 INCLUSIVELY last one
reviews.loc[0:3, ['country', 'price']]

  country  price
0      US  235.0
1   Spain  110.0
2      US   90.0
3      US   65.0

In [46]:
reviews.loc[[1,2,3,5,8]]

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic,index_backwards
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,everyone,150929
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,everyone,150928
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,everyone,150927
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia,everyone,150925
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström,everyone,150922

## Manipulating the index

In [34]:
reviews.set_index('country')

,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,
US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...
France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

## Conditional selection

In [36]:
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
...,...,...,...,...,...,...,...,...,...,...
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [38]:
# BRACKETS!!
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 9)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
...,...,...,...,...,...,...,...,...,...,...
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [39]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [40]:
reviews.loc[reviews.price.notnull()]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

## Assigning data

In [43]:
# a constant value
reviews['critic'] = 'everyone'
reviews.critic

0         everyone
1         everyone
            ...
150928    everyone
150929    everyone
Name: critic, Length: 150930, dtype: object

In [45]:
# an iterable of values
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         150930
1         150929
           ...
150928         2
150929         1
Name: index_backwards, Length: 150930, dtype: int64

# 3. Summary Functions and Maps

## Summary (statistical) functions

In [47]:
reviews.points.describe()

count    150930.000000
mean         87.888418
             ...
75%          90.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [48]:
reviews.points.mean()

87.8884184721394

In [50]:
reviews.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [51]:
reviews.country.value_counts()

US           62397
Italy        23478
             ...
Japan            2
US-France        1
Name: country, Length: 48, dtype: int64

## Maps

In [52]:
review_points_mean = reviews.points.mean()

### map()

In [53]:
reviews.points.map(lambda p: p - review_points_mean)

0         8.111582
1         8.111582
            ...
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

### apply()

In [54]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

In [59]:
reviews.apply(remean_points, axis=1)

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic,index_backwards
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,8.111582,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,everyone,150930
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,8.111582,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,everyone,150929
...,...,...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,2.111582,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset,everyone,2
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,2.111582,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder,everyone,1

# 4. Grouping and sorting

## Groupwise analysis

In [79]:
reviews = pd.read_csv('./winemag-data_first150k.csv', index_col=0)

In [84]:
reviews.groupby('points').points.count()

points
80      898
81     1502
       ...
99       50
100      24
Name: points, Length: 21, dtype: int64

In [85]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     65.0
100    65.0
Name: price, Length: 21, dtype: float64

In [87]:
reviews.groupby('points').apply(lambda df: df.iloc[0])

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
points,,,,,,,,,,,
80,7793,Argentina,"Tropical, soapy aromas are yeasty and flat. Fl...",NaN,80,13.0,Mendoza Province,Mendoza,NaN,Chardonnay,Tres Exilios
81,2142,Argentina,This gold-colored stale-smelling Torrontés sme...,NaN,81,12.0,Mendoza Province,Mendoza,NaN,Torrontés,Cuatro Vacas Gordas
...,...,...,...,...,...,...,...,...,...,...,...
99,2146,Italy,"Perfumed berry, rose, new leather and dark spi...",Madonna delle Grazie,99,200.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Il Marroneto
100,2145,France,"Full of ripe fruit, opulent and concentrated, ...",NaN,100,848.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style White Blend,Château Haut-Brion

In [90]:
reviews.groupby(['country', 'province']).apply(
    lambda df: df.loc[df.points.idxmax()])

                            Unnamed: 0    country  \
country   province
Albania   Mirditë                 4642    Albania
Argentina Mendoza Province       65331  Argentina
...                                ...        ...
Uruguay   San Jose               70157    Uruguay
          Uruguay               132482    Uruguay

                                                                  description  \
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
...                                                                       ...
Uruguay   San Jose          While this ranks as one of the best Uruguayan ...
          Uruguay           They call it Special Barrel, and one sniff tel...

                                                 designation  points  price  \
country   province
Albania   Mirditë                                        NaN      88   20.0
Argentina Mendoza Province                  Nicasia Vineyard      97  120.0
...                                                      ...     ...    ...
Uruguay   San Jose          El Preciado Premier Gran Reserva      89   60.0
          Uruguay                             Special Barrel      89   50.0

                                    province region_1 region_2    variety  \
country   province
Albania   Mirditë                    Mirditë      NaN      NaN    Kallmet
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN     Malbec
...                                      ...      ...      ...        ...
Uruguay   San Jose                  San Jose      NaN      NaN  Red Blend
          Uruguay                    Uruguay      NaN      NaN     Tannat

                                          winery
country   province
Albania   Mirditë                         Arbëri
Argentina Mendoza Province  Bodega Catena Zapata
...                                          ...
Uruguay   San Jose                Castillo Viejo
          Uruguay                          Bouza

[455 rows x 11 columns]

In [92]:
reviews.groupby(['country']).price.agg([len, min, max])

              len   min    max
country
Albania       2.0  20.0   20.0
Argentina  5631.0   4.0  250.0
...           ...   ...    ...
Ukraine       5.0  13.0   13.0
Uruguay      92.0   7.0   60.0

[48 rows x 3 columns]

## Multi-indexs

In [97]:
country_province_reviews = reviews.groupby(['country', 'province']).description.agg([len])
country_province_reviews

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
...                          ...
Uruguay   San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [95]:
type(country_province_reviews.index)

pandas.core.indexes.multi.MultiIndex

In [98]:
country_province_reviews.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
..         ...               ...   ...
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

## Sorting

In [99]:
country_province_reviews = country_province_reviews.reset_index()

In [102]:
country_province_reviews.sort_values(by = 'len', ascending=False)

         country                                province    len
422           US                              California  44508
442           US                              Washington   9750
..           ...                                     ...    ...
413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175       Greece                          Krania Olympus      1

[455 rows x 3 columns]

In [104]:
country_province_reviews.sort_values(by = ['country', 'len'])

       country   province  len
0      Albania    Mirditë    2
2    Argentina      Other  889
..         ...        ...  ...
447    Uruguay  Canelones   19
450    Uruguay    Juanico   19

[455 rows x 3 columns]

In [103]:
country_province_reviews.sort_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
..         ...               ...   ...
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

# 4. Data Types and Missing Values

In [105]:
reviews = pd.read_csv('./winemag-data_first150k.csv', index_col=0)

## Dtypes

In [110]:
reviews.points.dtype

dtype('int64')

In [109]:
# 's'
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 10, dtype: object

In [111]:
reviews.points.astype('float64')

0         96.0
1         96.0
          ...
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [116]:
# index also has its `dtype`
reviews.index.dtype

dtype('int64')

## Missing data

In [117]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [118]:
reviews.region_2.fillna('Unknown')

0            Napa
1         Unknown
           ...
150928    Unknown
150929    Unknown
Name: region_2, Length: 150930, dtype: object

In [119]:
reviews.region_2.unique()

array(['Napa', nan, 'Sonoma', 'Willamette Valley', 'Central Coast',
       'Columbia Valley', 'Finger Lakes', 'California Other',
       'Mendocino/Lake Counties', 'South Coast', 'Central Valley',
       'New York Other', 'Sierra Foothills', 'Southern Oregon',
       'Oregon Other', 'Napa-Sonoma', 'North Coast', 'Washington Other',
       'Long Island'], dtype=object)

# 6. Renaming and Combining

## Renaming

In [121]:
reviews = pd.read_csv('./winemag-data_first150k.csv')

In [122]:
reviews.rename(columns={'points': 'score'})

,Unnamed: 0,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...,...
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [123]:
reviews.rename(index = {0: 'firstEntry', 1: 'secondEntry'})

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
firstEntry,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
secondEntry,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...,...
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [127]:
reviews.rename_axis('wines', axis='rows').rename_axis('fields', axis='columns')

fields,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
wines,,,,,,,,,,,
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...,...
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

## Combining

In [128]:
pd.concat([reviews, reviews])

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...,...
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [133]:
left = reviews.iloc[0:100, :].set_index('points')
right = reviews.iloc[1000:1100, :].set_index('points')

In [135]:
left.join(right, lsuffix = '_1', rsuffix = '_2')

,Unnamed: 0_1,country_1,description_1,designation_1,price_1,province_1,region_1_1,region_2_1,variety_1,winery_1,Unnamed: 0_2,country_2,description_2,designation_2,price_2,province_2,region_1_2,region_2_2,variety_2,winery_2
points,,,,,,,,,,,,,,,,,,,,
86,90,US,"Bright, light oak shadings dress up this mediu...",NaN,10.0,California,California,California Other,Cabernet Sauvignon,Belle Ambiance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,91,Portugal,"The local Baga grape, better known for produci...",Marquês de Marialva Rosé Bruto,12.0,Beira Atlantico,NaN,NaN,Baga,Adega de Cantanhede,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN